	<div class="container">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<div class="resto-details">
				<h1>{{obj.name}}</h1>
				<img ng-src="{{obj.image_url}}" alt="image of {{obj.name}}" /><br><br>
				<span>{{obj.rating}}</span>
				<img ng-src="{{obj.rating_img_url}}" alt="rating {{obj.rating}} out of 5" /><br><br>
				<p><b>Address:</b> {{obj.address}}</p>
				<p><b>Phone No:</b> {{obj.display_phone}}</p>
				<p><b>Open between:</b> {{obj.operating_hours}}</p>
				</div>
				<hr>
				<div class="resto-reviews">
				<h3>Reviews</h3>
				<ul>
					<li ng-repeat="review in obj.reviews">
						<img ng-src="{{review.user.image_url}}" alt="user {{review.user.name}} photo">
						<h4>{{review.user.name}}</h4>
						<img ng-src="{{review.rating_image_url}}" alt="rating {{review.rating}} out of 5">
						<span>Reviewed {{review.date_reviewed}}</span>
						<p>{{review.excerpt}}</p>
					</li>
				</ul>
				</div><br>
				<hr>
				<div class="modal fade check" role="dialog" tabindex="-1" aria-hidden="true" id="flash-message">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title"><strong>Success!!!</strong></h4>
							</div>
							<div class="modal-body">
								<p><span>{{getMessage}}"</span></p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default closeBtn" ng-click="clearMessage(e)" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<button class="btn btn-lg" ng-click="clicked=!clicked" id="write-review"><b>Write a Review</b></button><br><br>
				<div class="resto-form" ng-init="clicked = false" ng-show="clicked">
					<form name="form1">
						<label for="write-name">Your Name:</label><br>
						<input name="yourName" ng-model="revName" id="write-name" type="text" required><br>
						<span class="err-msg" ng-show="form1.yourName.$touched && form1.yourName.$invalid">Please enter your name!!!</span><br><br>
						<label for="your-rating">Your Rating (Press Enter to select):</label><br>
						<div tabindex="0" id="your-rating">
							<span tabindex="0"><img ng-module="star1" src="imgs/14x14_0.png" alt="1 out of 5-Terrible"></span>
							<span tabindex="0"><img ng-module="star2" src="imgs/14x14_0.png" alt="2 out of 5-Poor"></span>
							<span tabindex="0"><img ng-module="star3" src="imgs/14x14_0.png" alt="3 out of 5-Average"></span>
							<span tabindex="0"><img ng-module="star4" src="imgs/14x14_0.png" alt="4 out of 5-Very Good"></span>
							<span tabindex="0"><img ng-module="star5" src="imgs/14x14_0.png" alt="5 out of 5-Excellent"></span>
						</div><br>
						<label for="review">Review:</label><br>
						<input ng-model="review" name="review" id="review" type="text" required>
						<span class="err-msg" ng-show="form1.review.$touched && form1.review.$invalid">This field is required!!!</span><br><br>
						<button type="button" ng-disabled="form1.$invalid" data-toggle="modal" data-target=".check" class="btn" ng-click="submitRev(this)" id="submit-btn"><b>Submit Your Review</b></button>
					</form>
				</div><br>
				<a href="#/" id="go-back-btn"><button class="btn btn-primary">Go Back</button></a>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
