		<div class="menu">
				<label for="query">Search:</label>
				<input id="query" ng-model="query" aria-label="search for restaurants" role="search" type="text">
				<div role="status" id="restaurant-list-info" aria-live="polite" aria-atomic="true">Showing {{(businesses|filter:{name:query}).length}} of {{businesses.length}}</div><br>
				<label for="order-by">Sort By:</label>
				<select ng-model="sortBy" aria-label="Select Order By field" id="order-by">
					<option></option>
					<option>rating</option>
					<option>review_count</option>
					<option>name</option>
				</select>
		</div>
		<div class="container">
				<h2>Best Restaurants in SFO</h2>
				<article class="box" ng-repeat="business in businesses | filter:{name:query} | orderBy:sortBy">
					<div class="col-md-4">
						<a href="#/{{business.id}}"><img src={{business.image_url}} alt="restaurant {{$index+1}} {{business.name}}"></a>
					</div>
					<div class="col-md-8">
						<h4 tabindex="-1" ng-model="id"><a href="#/{{business.id}}">{{business.name}}</a></h4>
						<img src={{business.rating_img_url}} alt="{{business.rating}} out of 5 stars"><span>{{business.review_count}} Reviews</span></br>
						<span>"{{business.snippet_text}}"</span><br>
						<span><b>Category:</b> {{business.category}}</span>
					</div>
				</article>
		</div>